body{
    color: white;
    display: flex;
    justify-content: flex-start;
}
.bg {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
    /* transform: scale(1.03) */
}

.title{
    height: 20vh;
    width: 60vw;
    animation: fadein 1.5s;
    padding-left: 1vw;
}

.titleimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}