@charset "utf-8";
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
     /* fade */
     opacity: 0; 
     animation: fadein 1s; 
     animation-fill-mode: forwards;
}
.bg img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
   
}

.title{
    margin: 10%;
    height: auto;
    width: 80vw;

     /* fade */
     opacity: 0; 
     animation: fadein 1s;
     animation-delay: 0.5s; 
     animation-fill-mode: forwards;
    

}

.titleimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.st_text{
    height: 100vh;
    width: 80vw;
    animation: fadein 1.5s;
    color: white;
    font-size: 3vw;
    text-align: center;
    line-height: 200%;

     /* fade */
     opacity: 0; 
     animation: fadein 1s;
     animation-delay: 1.5s; 
     animation-fill-mode: forwards;
}